*{
    margin: 0;
    padding: 0;
}
.cubes-container{
    display: block;
    width:1vh;
    height: 1vh;
    box-shadow: 10px 10px 56px -6px rgba(0,0,0,0.0.75);
    background-color: #ffffff;
    position: relative;
    margin-left: 5vw;
}
.dropsec
{
    min-height: 88vh;
    background-image: url("./../images/v1043-089a.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    
}
.dragitem1{
    max-width: 4vw;

}
.dragitem2{
    max-width: 10vw;
}
.dragitem3{
    max-width:3vw;
}