*{
    margin: 0;
    padding: 0;
}
.cubes-container{
    display: block;
    width:1vh;
    height: 1vh;
    box-shadow: 10px 10px 56px -6px rgba(0,0,0,0.0.75);
    background-color: #ffffff;
    position: relative;
    margin-left: 5vw;
}